@page "/CategoryEdit"
@model StockIT.Pages.CategoryEditModel
@{
}
<h1>Category Edit</h1>

<form asp-page-handler="" method="post">
    <div class="form-group">
        <label for="@Model.CategoryModel.Name">Name:</label>
        <input type="text" value="@Model.CategoryModel.Name" id="Name" name="Name" required>
        <input type="text" hidden="hidden" value="@Model.CategoryModel.Id"/>
        <input type="submit" class="btn btn-outline-secondary" value="Edit" />
        <a asp-action="DeleteCategory" asp-controller="Category" asp-route-categoryId="@Model.CategoryModel.Id" class="btn btn-outline-danger">Delete</a>
    </div>
</form>
