@page "/OperationComplete"
@{
ViewData["Title"] = "Operation Complete";
}

<div class="operation-result">
    @if (TempData["Success"].ToString().ToLower() == "true")
    {
        <span style="color: green;">&#10004;</span> <p>OperationComplete!</p> }
    else
    {
        <span style="color: red;">&#10006;</span> <p>@TempData["Message"]</p> }
</div>
